<md-dialog flex="98" flex-gt-sm="35">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>ฟอร์มกลุ่มหมวดค่าใช้จ่าย</h2>
        </div>
    </md-toolbar>
    <md-dialog-content>
        <div class="md-dialog-content">
            <div class="form-row">
                <div class="form-group col-12">
                    <label class="required-field">ชื่อกลุ่มหมวดค่าใช้จ่าย<fw-validate-error-output error-messages="$settings.formErrors.MasterName.ErrorMessages" css-class="ml-1"></fw-validate-error-output></label>
                    <input type="text" class="form-control" ng-model="$settings.formData.MasterName" 
                           ng-disabled="$settings.isLoading" maxlength="120" />
                </div>
            </div>
        </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
        <span flex></span>
        <fw-execute-button text="บันทึก" css-class="btn btn-primary btn-sm mr-2"
                           ng-disabled="$settings.isLoading"
                           css-icon-class="ti-save"
                           ng-click="save($event)"></fw-execute-button>
        <fw-execute-button text="ปิดหน้าต่าง" css-class="btn btn-danger btn-sm"
                           ng-disabled="$settings.isLoading"
                           css-icon-class="ion-close-round"
                           ng-click="close()"></fw-execute-button>
    </md-dialog-actions>
</md-dialog>
