<md-dialog flex="100" flex-gt-sm="70">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>แบบฟอร์มประวัติการปรับปรุงประเภทรายได้ภาษี</h2>
        </div>
    </md-toolbar>
    <md-dialog-content>
        <div class="md-dialog-content">
            <div class="form-row border-bottom pb-2">
                <div class="form-group col-12 col-md-4 mb-0">
                    <label>ปีงบประมาณ (พ.ศ.)</label>
                    <input type="text" class="form-control border-0 f-22 text-primary f-w-900" style="font-size:20px!important;" value="{{$settings.formView.YR|convertYearToBuddhist}}" />
                </div>
                <div class="form-group col-12 col-md-4 mb-0">
                    <label>เดือน</label>
                    <input type="text" class="form-control border-0 f-22 text-primary f-w-900" style="font-size:20px!important;" value="{{$settings.formView.MN|toMonthLabel}}" />
                </div>
                <div class="form-group col-12 col-md-4 mb-0">
                    <label>ประเภทรายได้ภาษี</label>
                    <input type="text" class="form-control border-0 f-22 text-primary f-w-900" style="font-size:20px!important;" value="{{$settings.formView.TAX_SOURCE_NAME}}" title="{{$settings.formView.TAX_SOURCE_NAME}}"/>
                </div>
            </div>

            <fw-simple-data-table columns="$settings.tableConfigs.columns" disabled="$settings.isLoading"
                                  auto-load="false"
                                  event-name="fwSimpleDataTable.modal.paramsChanged"
                                  route-url="@Url.Action("RetrieveHistory", "TaxForcastIncomeMonthly")"></fw-simple-data-table>
        </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
        <span flex></span>
        <fw-execute-button text="ปิดหน้าต่าง" css-class="btn btn-danger btn-sm"
                           ng-disabled="$settings.isLoading"
                           css-icon-class="ion-close-round"
                           ng-click="close()"></fw-execute-button>
    </md-dialog-actions>
</md-dialog>