<md-dialog flex="98" flex-gt-sm="35">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>แบบฟอร์มกำหนดผลผลิต</h2>
        </div>
    </md-toolbar>
    <md-dialog-content>
        <div class="md-dialog-content">
            <div class="form-row">
                <div class="form-group col-12">
                    <label class="required-field">แผนงาน<fw-validate-error-output css-class="ml-1" error-messages="$settings.formErrors.PlanId.ErrorMessages"></fw-validate-error-output></label>
                    <select class="form-control" ng-model="$settings.formData.PlanId" ng-disabled="$settings.isLoading"
                            fw-select2 ng-change="submitSearch()">
                        <option value="empty">--- แผนงาน ---</option>
                        @foreach (var item in ViewBag.Plans)
                        {
                            <option value="@item.PLAN_ID">@item.PLAN_NAME</option>
                        }
                    </select>
                </div>
                <div class="form-group col-12">
                    <label class="required-field">ชื่อผลผลิต<fw-validate-error-output css-class="ml-1" error-messages="$settings.formErrors.ProductName.ErrorMessages"></fw-validate-error-output></label>
                    <input type="text" class="form-control" ng-model="$settings.formData.ProductName" title="{{$settings.formData.ProductName}}" maxlength="200" />
                </div>
                <div class="form-group col-12">
                    <label>ชื่อย่อ<fw-validate-error-output css-class="ml-1" error-messages="$settings.formErrors.ShortName.ErrorMessages"></fw-validate-error-output></label>
                    <input type="text" class="form-control" ng-model="$settings.formData.ShortName" maxlength="100" placeholder="ไม่เกิน 100 ตัวอักษร" />
                </div>
                <div class="form-group col-12">
                    <label class="required-field">ลำดับการจัดเรียงข้อมูล<fw-validate-error-output css-class="ml-1" error-messages="$settings.formErrors.OrderSeq.ErrorMessages"></fw-validate-error-output></label>
                    <fw-input-number-mask ng-model="$settings.formData.OrderSeq" min-value="0" max-value="999" ng-disabled="$settings.isLoading"></fw-input-number-mask>
                </div>
            </div>
        </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
        <span flex></span>
        <fw-execute-button text="บันทึก" css-class="btn btn-primary btn-sm mr-2"
                           ng-disabled="$settings.isLoading"
                           css-icon-class="ti-save"
                           ng-click="save($event)"></fw-execute-button>
        <fw-execute-button text="ปิดหน้าต่าง" css-class="btn btn-danger btn-sm"
                           ng-disabled="$settings.isLoading"
                           css-icon-class="ion-close-round"
                           ng-click="close()"></fw-execute-button>
    </md-dialog-actions>
</md-dialog>
