<md-dialog flex="99" flex-gt-sm="75">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>แบบฟอร์ม{{$settings.expensesName}}</h2>
        </div>
    </md-toolbar>
    <md-dialog-content>
        <div class="md-dialog-content">
            <span class="text-danger ml-2 float-md-right f-w-900">จำนวน {{$settings.formData.rows.length|number:0}} องค์กร</span>
            <div class="table-responsive">
                <table class="table table-bordered table-striped">
                    <tr>
                        <th style="width:75px;min-width:75px;max-width:75px;" class="text-center align-middle">ลำดับ</th>
                        <th style="width:auto;min-width:190px" class="text-left align-middle">ชื่อองค์กร</th>
                        <th style="width:180px;min-width:180px;max-width:180px;" class="text-right">จำนวนเงิน (บาท)</th>
                        <th style="width:100px;min-width:100px;max-width:100px;"></th>
                    </tr>

                    <tr ng-if="$settings.formData.rows.length==0&&!$settings.isLoading">
                        <th colspan="4" class="text-center text-danger animated fadeIn">--- กรุณาสร้าง "ข้อมูลองค์กร" <span class="text-danger f-12 ml-1 mr-1 f-w-900">(ตั้งค่าระบบ => ข้อมูลองค์กร)</span> ในระบบก่อน ---</th>
                    </tr>

                    <tr ng-repeat="row in $settings.formData.rows">
                        <td style="width:75px;min-width:75px;max-width:75px;" class="text-center align-middle">{{$index + 1}}</td>
                        <td style="width:auto;min-width:190px" class="text-left align-middle">{{row.OrgName}}</td>
                        <td style="width:180px;min-width:180px;max-width:180px;" class="text-right">{{row.TotalPrice|displayDecimal:2}}</td>
                        <td style="width:100px;min-width:100px;max-width:100px;" class="text-center">
                            <a href="javascript:void(0)" class="text-primary f-w-900" ng-click="privateSetExpenses($event, row)">รายละเอียด</a>
                        </td>
                    </tr>

                    <tr ng-if="$settings.formData.rows.length > 0" class="bg-primary">
                        <th colspan="2" class="text-right animated fadeIn">รวมทั้งสิ้น</th>
                        <th class="text-right animated fadeIn">{{$settings.formData.rows|fwSimpleSummary:['TotalPrice']:0}}</th>
                        <th>&nbsp;</th>
                    </tr>
                </table>
            </div>
        </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
        <div ng-if="$settings.isLoading">
            <span class="text-danger f-w-900 animated fadeIn">กำลังจัดเตรียมแบบฟอร์ม ...</span>
        </div>
        <span flex></span>
        <fw-execute-button text="ตกลง" css-class="btn btn-primary btn-sm mr-md-1 mb-1 mb-md-0"
                           ng-disabled="$settings.isLoading"
                           css-icon-class="ion-ios-checkmark"
                           ng-click="ok()"></fw-execute-button>
        <fw-execute-button text="ปิดหน้าต่าง" css-class="btn btn-danger btn-sm"
                           ng-disabled="$settings.isLoading"
                           css-icon-class="ion-close-round"
                           ng-click="close()"></fw-execute-button>
    </md-dialog-actions>
</md-dialog>