<md-dialog flex="99" flex-gt-sm="65">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>แบบฟอร์ม{{$settings.expensesName}}</h2>
        </div>
    </md-toolbar>
    <md-dialog-content>
        <div class="md-dialog-content">
            <fw-execute-button text="เพิ่มรายการ" css-class="btn btn-primary btn-sm" css-icon-class="ion-plus-round"
                               ng-click="addItem($event)" ng-disabled="$settings.isLoading"></fw-execute-button>
            <span class="text-danger ml-2 float-md-right f-w-900">จำนวน {{$settings.formData.rows.length|number:0}} รายการ</span>
            <div class="table-responsive">
                <table class="table table-bordered table-striped">
                    <tr>
                        <th style="width:75px;min-width:75px;max-width:75px;" class="text-center align-middle">ลำดับ</th>
                        <th style="min-width:180px" class="text-left word-wrap">ทะเบียนยานพาหนะราชการ</th>
                        <th style="width:130px;min-width:130px;max-width:130px;" class="text-left word-wrap">วัน/เดือน/ปี จดทะเบียน</th>
                        <th style="width:130px;min-width:130px;max-width:130px;" class="text-left word-wrap">อายุการใช้งาน</th>
                        <th style="width:170px;min-width:170px;max-width:170px;" class="text-right word-wrap">ค่าซ่อมแซม (บาท)</th>
                        <th style="width:60px;min-width:60px;max-width:60px;"></th>
                    </tr>

                    <tr ng-if="$settings.formData.rows.length==0&&!$settings.isLoading">
                        <th colspan="6" class="text-center text-danger animated fadeIn">--- โปรดกดที่ปุ่ม "เพิ่มรายการ" ---</th>
                    </tr>

                    <tr ng-repeat-start="row in $settings.formData.rows">
                        <td rowspan="{{row.Items.length+1}}" style="width:75px;min-width:75px;max-width:75px;" class="text-center bg-light">{{$index + 1}}</td>
                        <td colspan="4" class="text-left">
                            <div class="input-group">
                                <select class="form-control" ng-model="row.VehicleTypeId" ng-disabled="$settings.isLoading" fw-select2>
                                    <option value="empty">--- ประเภทยานพาหนะ ---</option>
                                    <option ng-repeat="item in $settings.vehicleTypes" value="{{item.VEHICLE_TYPE_ID}}">{{item.VEHICLE_TYPE_NAME}}</option>
                                </select>
                                <div class="input-group-append">
                                    <fw-execute-button text="เพิ่มรายละเอียด" css-class="btn btn-primary btn-sm"
                                                       css-icon-class="ion-plus-round"
                                                       ng-click="addDetail(row)"></fw-execute-button>
                                </div>
                            </div>
                        </td>
                        <td class="text-center bg-light" style="width:60px;min-width:60px;max-width:60px;">
                            <a href="javascript:void(0)" class="text-danger f-w-900" ng-click="$settings.formData.rows.splice($index, 1)">ยกเลิก</a>
                        </td>
                    </tr>

                    @*ส่วนรายละเอียด*@
                    <tr ng-repeat="item in row.Items">
                        <td style="width:130px;min-width:130px;max-width:130px;" class="text-left">
                            <input type="text" class="form-control" ng-model="item.LicenseNo" ng-disabled="$settings.isLoading" placeholder="ระบุทะเบียนรถ" />
                        </td>
                        <td style="width:130px;min-width:130px;max-width:130px;" class="text-left">
                            <fw-date-range model="item.RegisterDate" disabled="$settings.isLoading"
                                           change="calVehicleAge(item)" placeholder="ระบุวันที่จดทะเบียน"
                                           single-date-picker="true"></fw-date-range>
                        </td>
                        <td style="width:130px;min-width:130px;max-width:130px;" class="text-left align-middle">{{item.VehicleAgeValue}}</td>
                        <td style="width:170px;min-width:170px;max-width:170px;" class="text-left">
                            <fw-input-number-mask ng-model="item.ExpensesRepairPrice" 
                                                  ng-change="calExpensesRepairPrice()"
                                                  css-class="text-right" min-value="0.00" max-value="9999999999.99" ng-disabled="$settings.isLoading"></fw-input-number-mask>
                        </td>
                        <td class="text-center bg-light" style="width:60px;min-width:60px;max-width:60px;">
                            <a href="javascript:void(0)" class="text-danger f-w-900" ng-click="row.Items.splice($index, 1)">ยกเลิก</a>
                        </td>
                    </tr>
                    <tr ng-if="row.Items.length > 0" class="bg-light">
                        <th colspan="4" class="text-right animated fadeIn">รวม</th>
                        <th class="text-right animated fadeIn">{{row.Items|fwSimpleSummary:['ExpensesRepairPrice']:2}}</th>
                        <th>&nbsp;</th>
                    </tr>
                    <tr ng-repeat-end></tr>


                    @*รวมทุกรายการ*@
                    <tr ng-if="$settings.formData.rows.length > 0" class="bg-primary">
                        <th colspan="4" class="text-right animated fadeIn">รวมทั้งสิ้น</th>
                        <th class="text-right animated fadeIn">{{$formView.netExpensesRepairPrice|number:2}}</th>
                        <th>&nbsp;</th>
                    </tr>
                </table>
            </div>
        </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
        <div ng-if="$settings.isLoading">
            <span class="text-danger f-w-900 animated fadeIn">กำลังจัดเตรียมแบบฟอร์ม ...</span>
        </div>
        <span flex></span>
        <fw-execute-button text="ตกลง" css-class="btn btn-primary btn-sm mr-md-1 mb-1 mb-md-0"
                           ng-disabled="$settings.isLoading"
                           css-icon-class="ion-ios-checkmark"
                           ng-click="ok()"></fw-execute-button>
        <fw-execute-button text="ปิดหน้าต่าง" css-class="btn btn-danger btn-sm"
                           ng-disabled="$settings.isLoading"
                           css-icon-class="ion-close-round"
                           ng-click="close()"></fw-execute-button>
    </md-dialog-actions>
</md-dialog>

