
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <div ng-controller="AppController">
        <div class="container-fluid shadow-sm m-0 mb-2 rounded-bottom">
            <div class="form-row">
                <div class="form-group col-12 offset-md-3 col-md-4">
                    <label>ชื่อประเภทบุคลากร</label>
                    <input type="text" class="form-control" ng-model="$settings.formSearch.personTypeName" />
                </div>
                <div class="form-group col-12 col-md-4">
                    <label class="d-none d-md-block">&nbsp;</label>
                    <fw-execute-button text="สร้างใหม่"
                                       css-class="btn btn-primary btn-sm mb-1 d-inline-block"
                                       css-icon-class="ion-plus"
                                       ng-click="createNew($event)"
                                       ng-disabled="$settings.isLoading"></fw-execute-button>
                </div>
            </div>
        </div>
        <div class="card card-block borderless-card shadown-sm">
            <fw-simple-data-table columns="$settings.tableConfigs.columns"
                                  title="ข้อมูลประเภทบุคลากร"
                                  ng-disabled="$settings.isLoading"
                                  row-click-callback="rowClick($event, $row, $columnConfig)"
                                  route-url="@Url.Action("RetrievePersonType", "PersonnelType")"></fw-simple-data-table>
        </div>
    </div>

@section Scripts{
    <script type="text/javascript">
        angular.module('leaveApp').controller('AppController',
            function ($scope, $fwDialogService, $fwModalService, $timeout, $customHttp, $q, $filter) {
                $scope.$settings = {
                    isLoading: false,
                    formSearch: { personTypeName: '' },
                    tableConfigs: {
                        columns: [
                            { label: 'No.', className: 'text-center word-wrap', type: 'rowNumber', style: 'min-width:50px;max-width:50px;width:50px;' },
                            {
                                label: 'ประเภทบุคลากร', className: 'text-left word-wrap',
                                params: 'BTN_EDIT',
                                type: 'html',
                                field: '<a href="javascript:void(0)" class="text-primary f-w-900">{{row.ITEM_TEXT}}<sup class="ml-1 ti-new-window f-w-900"></sup></a>',
                                style: 'min-width:200px'
                            },
                            {
                                label: '', className: 'text-center word-wrap',
                                params: 'BTN_DELETE', type: 'html',
                                field: '<a href="javascript:void(0)" class="text-danger mr-1 f-w-900">ยกเลิก</a>',
                                style: 'min-width:100px;max-width:100px;width:100px;'
                            }
                        ]
                    }
                };

                $scope.createNew = function (event, formData) {
                    $fwModalService.getModal('@Url.Action("GetResource", "PersonnelType")', {
                        _formData: formData
                    },
                        function ($scope, $mdDialog, $customHttp, $fwDialogService, _formData) {
                            $scope.$settings = {
                                isLoading: false, isLeaveTypeLoading: true,
                                formErrors: {},
                                leaveTypes: [],
                                formData: {}
                            };

                            $scope.init = function () {
                                var formData = _formData || {};
                                $scope.$settings.formData = {
                                    PersonTypeId: formData.PERSON_TYPE_ID || null,
                                    LeaveOverflowId: formData.LEAVE_OVERFLOW_ID || '',
                                    PersonTypeName: formData.ITEM_TEXT || '',
                                    PersonTypeDescription: formData.ITEM_DESCRIPTION || '',
                                    AuthorizeLeaveIds: (formData.AUTHORIZE_LEAVEs || []).map(function (item) {
                                        return item.LEAVE_TYPE_ID;
                                    })
                                };

                                $scope.$settings.formData.LeaveOverflowId = '' + $scope.$settings.formData.LeaveOverflowId;

                                $timeout(function () {
                                    $('#personTypeName').focus();
                                }, 500);
                            };

                            $scope.submitSave = function (event) {
                                $scope.$settings.isLoading = true;

                                var params = $.extend(true, {}, $scope.$settings.formData);
                                $customHttp.formPost('@Url.Action("SubmitSave", "PersonnelType")', params).then(function (res) {
                                    $scope.$settings.formErrors = res.data.errors || {};
                                    if (null != res.data.errorText)
                                        $fwDialogService.dangerDialog(event, res.data.errorText);
                                    else if (res.data.errors == null) {
                                        $fwDialogService.alertDialog(event, 'บันทึกข้อมูลเรียบร้อยแล้ว').then(function () {
                                            if (null == $scope.$settings.formData.PersonTypeId)
                                                $scope.init();
                                            else
                                                $scope.close();
                                        });
                                    }
                                    $scope.$settings.isLoading = false;
                                }, function () {
                                    $scope.$settings.isLoading = false;
                                });
                            };
                            // ปิดหน้าต่าง
                            $scope.close = function () {
                                $mdDialog.hide({ behavior: true });
                            };

                            $scope.init();
                        }, event).then(function () {
                            $scope.submitSearch();
                        });
                };

                $scope.rowClick = function (event, row, columnConfig) {
                    if (columnConfig.params == 'BTN_DELETE') {
                        var confirmMsg = 'ยืนยัน!! การยกเลิกประเภทบุคลากร';
                        if (row.COUNT_USED > 0)
                            confirmMsg = $filter('textFormat')('ประเภทบุคลากรนี้กำหนดให้กับบุคลากรไปแล้วจำนวน {0} คน ยืนยัน!! การยกเลิก', row.COUNT_USED);
                        $fwDialogService.confirmDialog(event, confirmMsg).then(function () {
                            $scope.$settings.isLoading = true;
                            $customHttp.formPost('@Url.Action("SubmitDelete", "PersonnelType")', {
                                personTypeId: row.PERSON_TYPE_ID
                            }).then(function () {
                                $scope.$settings.isLoading = false;
                                $scope.submitSearch();
                            }, function () {
                                $scope.$settings.isLoading = false;
                            });
                        });
                    } else if (columnConfig.params == 'BTN_EDIT') {
                        $scope.createNew(event, row);
                    }

                    // fwSimpleDataTable บังคับให้ Return promise
                    return $q(function (resolve) {
                        resolve({ row: row });
                    });
                };

                var timeoutId = null;
                $scope.submitSearch = function () {
                    $timeout.cancel(timeoutId);
                    timeoutId = $timeout(function () {
                        $scope.$broadcast('fwSimpleDataTable.paramsChanged', {
                            personTypeName: $scope.$settings.formSearch.personTypeName
                        });
                    }, 300);
                };

                // Watch
                var personTypeNameChangeId = null;
                $scope.$watch('$settings.formSearch.personTypeName', function () {
                    $timeout.cancel(personTypeNameChangeId);
                    personTypeNameChangeId = $timeout(function () {
                        $scope.submitSearch();
                    }, 500);
                });
            });
    </script>
}